.card {
  width: 413px;
  height: 445px;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 413px;
  margin: 0;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__content {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: baseline;
}

.card__like-button {
  padding: 12px 12px 8px 12px;
  margin: 0;
  background-image: url(../images/like\ icon\ Union.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
    height: 318px;
    gap: 12px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    width: 288px;
    height: 18px;
  }

  .card__title {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
