.card {
  width: 413px;
  margin: 0 auto;
}

.card__image {
  height: 413px;
  width: 413px;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  max-width: 353px;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__content {
  display: flex;
  margin: 20px 0 0;
  justify-content: space-between;
}

.card__like-button {
  width: 23px;
  height: 20px;
  margin: 0;
  background-image: url(../images/like\ icon\ Union.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    width: 288px;
    margin: 12px 0 0;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}
