.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 34px 0 20px;
    border-top: 1px rgba(33, 33, 33, 0.4) solid;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer__column {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
}

.footer__copywright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}