.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #212121b2;
  opacity: 70%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {  
  margin-top: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  opacity: 70%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.profile__edit-btn:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 2;
}

.profile__edit-button::before {
  width: 16px;
  height: 16px;
  background-image: url(../images/button-pencil.svg);
}

.profile__add-btn {
  padding: 18px 32px 18px 32px;
  gap: 8px;
  border-radius: 8px;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fcf5e5;
}

.profile__add-button::before {
  width: 16px;
  height: 16px;
  background-image: url(../images/Button\ Large.svg);
}
.profile__add-btn:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    width: 288px;
    height: 274px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin: 0;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
