.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s;
}

.modal_opened {
  visibility: visible;
  transition: visibility 0s, opacity 0.6s ease-in;
  opacity: 1;
}

.modal__content {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;
}

.modal__content_type_image {
  width: fit-content;
  height: fit-content;
  max-width: none;
  max-height: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 36px 50px 0px;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #21212166;
  border-style: none;
  gap: 32px;
}

.modal__caption {
  display: flex;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  background-color: #212121;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  position: absolute;
  top: calc(100% + 10px);
  margin: 0;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  background-image: url(../images/Xicon.svg);
  cursor: pointer;
  opacity: 70%;
}

.modal__close-btn_type_preview {
  position: absolute;
  background-image: url(../images/light-close-btn.svg);
  width: 40px;
  height: 40px;
  top: 30px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: #212121b2;
  margin-bottom: 32px;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border-style: solid;
  border-color: #21212166;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 8px 0 0;
  color: #2121214d;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  visibility: hidden;
  display: block;
  margin-top: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: 0%;
  color: red;
}

.modal__error_visible {
  visibility: visible;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
}

.modal__submit-btn:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 50%;
}
.modal__submit-btn_disabled:hover {
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__content {
    padding: 22px 6px 12px;
    max-height: none;
    max-width: 300px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    position: absolute;
    top: -15px;
    right: 0;
  }

  .modal__image {
    max-width: 288px;
  }
}
